@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');


html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

h1, h2, h3 {
    font-weight: 700;
}

.wrapper {
    width: 100%;
    height: auto;
    max-width: 1400px;
    margin: 0 auto;
}