header {
    position: fixed;
    height: 10vh;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    background: lighten($juniper, 20%);
    border-bottom: 3px solid $brunswick;
    width: 100%;
    top: 0;
    left: 0;
    right:0;
    max-width: 1400px;
    margin: 0 auto;

    @include for-phone-only {
        height: auto;
        flex-direction: column;
        padding-bottom: 0;
        border: none;
    }

    svg {
        @include for-phone-only {
            width: 70%;
            margin: 0 auto;
        }
    }

    .stockTicker {
        justify-self: flex-end;
    }
}